* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sidebar .container {
    width: 80%;
    max-width: 1170px;
    margin: auto;
}

.start {
    background-color: cornflowerblue;
    min-height: 300px;
}

section {
    min-height: 300px;
}

.sidebar {
    background-color: red;
    display: flex;
}

.container {
    background-color: orange;
}